body {
    background: rgb(240, 245, 246);
    background: linear-gradient(90deg, rgba(240, 245, 246, 1) 0%, rgba(244, 245, 246, 1) 94%);
    font-family: 'Poppins', sans-serif !important;


}

.border {
    border: 50px solid black;
}

.navbar a {
    text-decoration: none;
    color: gray;

    border-radius: 10px;
    padding: 0 100px 0 100px;
}

.navbar button:hover {
    background-color: rgb(184, 176, 176);
}

.myPhoto {
    background: url(./images/photo.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
}

.name {
    position: relative;
    top: 30%;
}

.name p {
    padding-left: 50px;
}

.boots {
    background: url(./images/Bootst.svg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    transition-duration: 0.6s;
}

.boots:hover {
    background-color: #9ed6a6;
    padding: 100px;
    border-radius: 30px;
    transition-duration: 1s;
}

.htmlImg {
    background: url(./images/htmlImg.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    transition-duration: 0.6s;
}

.htmlImg:hover {
    background-color: #9ed6a6;
    padding: 100px;
    border-radius: 30px;
    transition-duration: 1s;
}

.cssImg {
    background: url(./images/cssImg.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    transition-duration: 0.6s;
}

.cssImg:hover {
    background-color: #9ed6a6;
    padding: 100px;
    border-radius: 30px;
    transition-duration: 1s;
}

.jsImg {
    background: url(./images/jsimg.png) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    transition-duration: 0.6s;
}

.jsImg:hover {
    background-color: #9ed6a6;
    padding: 100px;
    border-radius: 30px;
    transition-duration: 1s;
}

.extraSkill {
    border: black solid 5px;
}

.hobbies {
    border: 5px black solid;
}

.footer {
    border: black 3px solid;
    margin-top: 10px;
    background-color: rgb(215, 240, 215);
    height: 70px;
}

.map {
    margin-top: 10px;
    border: 5px solid black;
}

.footer:hover {
    background-color: #9ed6a6;
    transition-duration: 2s;
}

.footer img:hover {
    height: 38px;
    transition-duration: 0.3s;
}

.hide {
    display: none;
}

.opac {
    opacity: 50%;
}

#name {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

#name .container {
    background-color: rgba(225, 250, 186, 0.5);
    margin-top: 10px;
    border: 2px solid black;
    -webkit-animation: fadein 1.4s;

}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.intro input {
    height: 50px;
    width: 100%;
}

.hide1 {
    display: none;
}

#name:hover+.hide1 {
    position: fixed;
    width: 100%;
    display: flex;
    color: red;
    justify-content: center;
    margin-top: 270px;
}

.intro button {
    background-color: transparent;
    color: rgb(64, 114, 64);
    border: 1px solid rgb(64, 114, 64);
    height: 50px;
    width: 100%;
    display: block;
    align-items: center;
}

.intro button:hover {
    background-color: rgb(255, 253, 253);
}

#project a {
    text-align: center;
    padding: 2%;
    text-decoration: none;
    color: rgb(20, 92, 18);
}

#project h3 {
    position: relative;
    top: 60px;
}

#project {
    width: 100%;
    height: 100%;
    background-color: rgba(225, 250, 186, 0.5);
    line-height: 80px;
    text-align: center;
    border-radius: 20%;
}

.back {
    background: url(./images/green.jpg);
    background-position: center;
    background-size: cover;
}